<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.google.android"
      android:versionCode="1"
      android:versionName="1.0.0">
    <application android:icon="@drawable/icon2" >
        <activity android:name=".HellowAndroid"
                  android:label="@string/app_name">
                  
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NavigateToPOI" android:label="Navigating to a POI"></activity>
  
    <activity android:name=".LoadingList" android:label="loading list"></activity>
    </application>
     <uses-permission xmlns:android="http://schemas.android.com/apk/res/android"
					android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
     <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
     <uses-permission android:name="android.permission.VIBRATE"/>
</manifest> 