<% form_tag({:controller => 'home', :action => 'authenticate'}) do %>
  <p>
  	<label for="user_username">Username</label><br/>
		<%= text_field 'user', 'username'  %>
	</p>
	
	<p>
		<label for="user_password">Password</label><br/>
		<%= password_field 'user', 'password'  %>
	</p>
	
  <%= submit_tag 'Login' %>
<% end %>

<p><%= link_to 'Register new user', new_user_path %></p>