<div class="box" style="width: 600px;">
	<h1>Talking-Points project</h1>
	
	<p>Talking Points is a <a href="http://mblog.lib.umich.edu/GROCS/" title="GROCS (GRant Opportunities Collaborative Spaces) blog" target="_blank">GROCS</a> funded collaborative project whose aim is develop a prototype urban orientation and contextual information system. By using a mobile computer to read Bluetooth tags positioned around a city, such as Ann Arbor, user generated location information is presented to the user via either an audio or visual modular interface. Information about each location on which the tag placed is stored in an online database. This information is retrieved by the cellular data connected mobile device when the user comes within close proximity to a &#8220;Talking Point.&#8221; The information for each Talking Point is maintained by the Talking Points community; anyone can add, modify, or delete information for each Talking Point.</p>
	
	<p>For more information about the project you can download a <a href="http://talking-points.org/wp-content/presentation.pdf" title="Talking-Points project presentation">short project presentation</a> in PDF format.</p>
	
	<br />
	
	<%= image_tag 'talking-points_system_diagr.jpg', :style => 'border: 1px solid gray; margin-right: auto; margin-left: auto; display: block;' %>
	
	<p style="text-align: center;"><strong>Overview of the Talking-Points System</strong></p>
</div>